@page "/Items"
@using ItemCheckout.Data.Entities
@using ItemCheckout.Services
@inject IItemCheckoutService ItemCheckoutService

<h3>Items</h3>

<h4></h4>

@code {
    private List<NamedItem> items = [];

    protected override async Task OnInitializedAsync()
    {
        items = await ItemCheckoutService.GetNamedItemsAsync();
    }
    
    
}
